Repository nekoteam-llc/nekoparser: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright, prettier, eslint

ruff:
  name: ruff
  entry: poetry run ruff check . --fix
  language: system
  pass_filenames: false

ruff-format:
  name: ruff-format
  entry: poetry run ruff format
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: poetry run pyright -p .
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c "cd apps/frontend && pnpm run format"
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: eslint --fix -c apps/frontend/web/eslint.config.js apps/frontend/web
  language: system
  pass_filenames: false

✨ Construct product and pagination regexes
  chrome-plugin/injected.js
  chrome-plugin/manifest.json
Due: prettier, eslint

Update CI
  .github/workflows/linter.yml
  package.json
  pnpm-lock.yaml
Due: prettier

Add prettier to dev dependencies
  package.json
  pnpm-lock.yaml
Due: prettier

💚 Fix CI
  .github/workflows/linter.yml
  .pre-commit-config.yaml
  package.json
  pnpm-lock.yaml
Due: prettier

✨ Extract product properties
  apps/frontend/src/routes/sources/[slug]/+page.svelte
  apps/packages/schemas/satu.py
  apps/transformations/websites/tasks/xpath_extraction.py
  chrome-plugin/injected.js
Due: ruff, ruff-format, pyright, prettier, eslint

✨ AI web3 crypto LLM venture 1337 gpt
  apps/frontend/src/app.css
  apps/frontend/src/lib/custom/hotkeys.svelte
  apps/frontend/src/routes/+layout.svelte
  apps/frontend/src/routes/sources/[slug]/+page.svelte
  apps/packages/chatgpt/__init__.py
  apps/packages/chatgpt/base.py
  apps/packages/chatgpt/config.py
  apps/packages/chatgpt/exceptions.py
  apps/packages/chatgpt/models.py
  apps/packages/chatgpt/prompt.py
  apps/transformations/websites/tasks/xpath_extraction.py
  docker-compose.yml
Due: ruff, ruff-format, pyright, prettier

🧐 Extract keywords from description
  apps/packages/chatgpt/__init__.py
  apps/packages/chatgpt/prompt.py
  apps/transformations/websites/tasks/xpath_extraction.py
Due: ruff, ruff-format, pyright

chore: Add GitLab CI configuration for SonarQube analysis
  .gitlab-ci.yml
  sonar-project.properties
Due: none

chore: Update GitLab CI configuration for SonarQube analysis
  .gitlab-ci.yml
Due: none

chore: Update GitLab CI configuration for SonarQube analysis
  .github/workflows/sonar.yaml
  .gitlab-ci.yml
  sonar-project.properties
Due: prettier

chore: Update Dockerfile for Python base image and builder base image
  Dockerfile
Due: none

Update README.md
  README.md
Due: prettier

Create CHANGELOG.md
  CHANGELOG.md
Due: prettier

⬆️ Upgrade dependencies & fix CI
  .github/workflows/sonar.yaml
  apps/frontend/package.json
  apps/frontend/pnpm-lock.yaml
  poetry.lock
  pyproject.toml
  sonar-project.properties
Due: prettier

Thank you Termius
  apps/transformations/websites/tasks/xpath_extraction.py
Due: ruff, ruff-format, pyright

upd
  apps/backend/routes/api/v1/sources/routes.py
  apps/backend/routes/api/v1/sources/source_manager.py
  apps/frontend/src/client/schemas.gen.ts
  apps/frontend/src/client/services.gen.ts
  apps/frontend/src/client/types.gen.ts
  apps/frontend/src/lib/custom/hotkey.svelte
  apps/frontend/src/routes/(components)/data-source.svelte
  apps/frontend/src/routes/(components)/new-source.svelte
  apps/frontend/src/routes/sources/[slug]/+page.svelte
  apps/packages/alembic/versions/25c2f04fd589_add_config.py
  apps/packages/alembic/versions/7ca2d9259635_new_initial.py
  apps/packages/alembic/versions/df364bdbd6e1_xlsx.py
  apps/packages/alembic/versions/e1be18a8b485_add_reprocessing.py
  apps/packages/chatgpt/__init__.py
  apps/packages/chatgpt/base.py
  apps/packages/chatgpt/prompt.py
  apps/packages/database/models/transformations.py
  apps/packages/filestorage/filestorage.py
  apps/transformations/excel/pipeline.py
  apps/transformations/excel/tasks/__init__.py
  apps/transformations/excel/tasks/enrich.py
  apps/transformations/excel/tasks/initial_processing.py
  apps/transformations/serve.py
  apps/transformations/utils.py
  apps/transformations/websites/tasks/xpath_extraction.py
  docker-compose.yml
  poetry.lock
  pyproject.toml
Due: ruff, ruff-format, pyright, prettier

Update compose
  docker-compose.yml
Due: none

Autoinstaller
  .gitignore
  autoinstaller.sh
  backend.Dockerfile
  default.conf.sample
  docker-compose.yml
  generate_secrets.sh
Due: none

Make 4o-mini default
  apps/backend/routes/api/v1/config/routes.py
  apps/frontend/src/routes/(components)/settings.svelte
Due: ruff, ruff-format, pyright, prettier

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  pyright: any of: \.py$
  prettier: any of: \.(css|html|scss|js|ts|jsx|tsx|svelte|yaml|json|md)$
  eslint: any of: \.(js|mjs|cjs)$
